{% extends 'base.html.twig' %}

{# ... #}

{% block body %}
    {# {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %} #}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.userIdentifier }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}

  <div class="container-fluid px-0 py-0 mx-auto">
    <div class="row g-0 min-vh-100"> 
      <!-- Welcome Text
      ========================= -->
      <div class="col-md-4">
        <div class="hero-wrap d-flex align-items-center h-100">
          <div class="hero-mask opacity-5 bg-dark"></div>
          <div class="hero-bg hero-bg-scroll"></div>
          <div class="hero-content mx-auto w-100 h-100">
            <div class="container d-flex flex-column h-100">
              <div class="row g-0">
                <div class="col-11 col-lg-9 mx-auto">
                  <div class="logo mt-5 mb-5"> <a class="d-flex" href="index.html" title="Oxyy">
                  <img src="" style="width:10%" alt=""></a>
                   </div>
                </div>
              </div>
              <div class="row g-0 mt-3">
                <div class="col-11 col-lg-9 mx-auto">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Welcome Text End --> 
      
      <!-- Login Form
      ========================= -->
      <div class="col-md-8 d-flex flex-column align-items-center bg-dark">
        <div class="container my-auto py-5">
          <div class="row g-0">
            <div class="col-11 col-md-8 col-lg-7 col-xl-6 mx-auto">
              <p class="text-2 h5 text-light">Pas encore inscrit ? <br><a class="fw-500 text-primary" href="register-17.html">Créer un compte</a></p>
              <br><br><h4 class="text-white h3 mb-4">Se connecter a mon compte</h4>
              <form id="loginForm" action="{{ path('security_login') }}" method="post">
                
                <div class="mb-3">
                            <label class="form-label h6 text-light" for="username">{{ 'label.username'|trans }}</label>
                            <input class="form-control h4 mt-2" type="text" id="username" name="_username" value="{{ last_username }}" class="form-control"/>
                        </div>
                
                <div class="mb-3">
                            <label class="form-label h6 text-light" for="password">{{ 'label.password'|trans }}</label>
                            <a class="float-end text-primary h6 text-2" href="forgot-password-17.html">Mot de passe perdu ?</a>
                            <input class="form-control mt-2" type="password" id="password" name="_password" class="form-control" />
                        </div>
                 <input type="hidden" name="_target_path" value="{{ app.request.get('redirect_to') }}"/>
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}"/>
                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-sign-in" aria-hidden="true"></i> {{ 'action.sign_in'|trans }}
                        </button>
              </form>
            </div>
          </div>
        </div>
      </div>
      <!-- Login Form End --> 
    </div>
  </div>
    
{% endblock %}
    




